@using thelibrary.ViewModel
@model EditBookViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">  
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
   @* <input type="hidden" value="CategoryId" id="CategoryId" />*@
   @* <input type="hidden" value="Id" id="Id" />*@
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pages">Pages</label>
        <input asp-for="Pages" class="form-control" placeholder="Pages">
        <span asp-validation-for="Pages" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookSummary">BookSummary</label>
        <input asp-for="BookSummary" class="form-control" placeholder="BookSummary">
        <span asp-validation-for="BookSummary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AuthorId" class="control-label">Author</label>
        <br />
        <p>
            @* @Html.DropDownList("AuthorId",ViewBag.Author as SelectList)               *@
            @Html.ListBoxFor(model => model.AuthorId, (MultiSelectList)ViewBag.author, new { @class = "form-control" })

        </p>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <br />
        <p>
            @Html.DropDownList("CategoryId",ViewBag.Category as SelectList)
           
        </p>
    </div>
    
    <div class="form-group">
        <label asp-for="ActualBook">The Book</label>
        <input asp-for="ActualBook" type="file" class="form-control" placeholder="ActualBook">
        <span asp-validation-for="ActualBook" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>