
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheeet" href="style.css">
    <title>TECH-U LIBRARY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<style>
    body {
        padding: 0;
        margin: 0;
        display: grid;
        place-items: center;
    }

    h1 {
        background-color: rgba(162,212,247,255);
        font-family: 30px;
        margin: 0;
        font-size: 20px;
        text-align: center;
        width: 100vw;
        font-family: sans-serif;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contents {
        justify-content: center;
        align-items: center;
        margin-top: 110px;
    }

    p {
        text-align: center;
        font-family: sans-serif;
    }

    .box {
        display: flex;
        padding: 0px;
    }

    .boxs {
        padding: 30px
    }

    .icon {
        font-size: 50px;
        background-color: rgba(162,212,247,255);
        padding: 0px;
        width: 110px;
        height: 100px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<body>
    <h1>TECH-U LIBRARY MANAGEMENT SYSTEM</h1>

    <div class="contents">
        <div class="box">
            <span class="boxs">
                <div class="icon"><i class="fa-regular fa-user"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="GetUsers">Users</a></p>
            </span>

            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-book"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a></p>
            </span>

            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-list"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a></p>
            </span>

            <span class="boxs">
                <div class="icon"> <i class="fa-solid fa-pen"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Authors</a></p>
            </span>

           

        </div>

        <div class="box">
            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-plus"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Create">Add books</a></p>
            </span>

            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Reservations">Borrow</a></p>
            </span>

            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-list"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="register">Register</a></p>
            </span>
            <span class="boxs">
                <div class="icon"><i class="fa-solid fa-plus"></i></div>
                <p><a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Add Category</a></p>
            </span>
        </div>
    </div>
</body>

